---
import Layout from "../layouts/Layout.astro";
import type RegularUser from "../interfaces/regularUser";
import { Image } from "astro:assets";
import fetchApi from "../lib/strapi";
import Card from "../components/Card.astro";
const articles = await fetchApi<any[] | null>({
  endpoint: "screens?populate=*",
  wrappedByKey: "data",
});
console.log("DATA", articles);
---

<Layout title="STRAPI INTEGRATION">
  <main style="justify-content: center; margin-left: 16px; margin-right: 16px;">
    <p
      style="color:white; font-weight:bold;"
    >
      STRAPI DATA INTEGRATION
    </p>
    <div style="display: flex;sp">
      {
        articles === null || undefined ? (
          <p style="color:white">NO DATA</p>
        ) : (
          articles.map((article) => (
              <Card
                title={article.attributes.name}
                body={article.attributes.description}
                src={`${article.attributes.photo.data.attributes.formats.small.url}`}
              />
          ))
        )
      }
    </div>
  </main>
</Layout>
